/* Default Light Mode */
:root {
  --bg-color: white;
}

body {
  /* transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease; */
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  #root {
    padding: 0px;
  }
}